html,
body {
    margin: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row
}

.section {
    width: 50%;
    height: 100%;
}

.item {
    padding: 24px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding-bottom: 24px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#input {
    font-size: 16px;

    /* Add scroll bars if necessary instead of wrapping text or resizing */
    overflow-wrap: normal;
    white-space: pre;
    resize: none;
}

.build {
    width: 100%;
    height: 82px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 20px;
}

#output {
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;

    /* We use a CSS grid to display the output tree */
    display: grid;
    text-align: center;
    align-content: start;
    justify-content: start;

    /* Add scroll bars if necessary instead of overflowing */
    overflow: auto;
}

.branch {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #21a670;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}

.blank {
    background-color: white;
}

/* Align output below input on small laptop screens or smaller for readability */
@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column
    }

    .section {
        width: 100%;
        height: 50%;
    }
}